<table class="w-full text-left min-w-75">
  <caption class="sr-only">
    List of recent tip transfers and locations
  </caption>
  <thead>
    <tr class="border-b border-ui-grey-light bg-ui-white-f9">
      <th scope="col" class="p-6 font-semibold w-1/3">Date</th>
      <th scope="col" class="p-6 font-semibold w-1/3">Location</th>
      <th scope="col" class="p-6 font-semibold w-1/3">Amount</th>
    </tr>
  </thead>
  <tbody>
    @for (trans of details()?.transactions?.transactions; track $index) {
    <tr
      class="border-b border-ui-grey-light last:border-0 hover:bg-blue-50 cursor-pointer focus:outline-none focus:bg-blue-50"
      tabindex="0"
      role="button"
      [attr.aria-label]="'Transaction at ' + trans.location + ' on ' + trans.date"
    >
      <td class="p-6">{{ trans.date }}</td>
      <td class="p-6 max-w-40" [title]="trans.location">
        {{ trans.location }}
      </td>
      <td class="p-6">{{ trans.amount | currency }}</td>
    </tr>
    }
  </tbody>
</table>
