<header class="wrapper flex items-center justify-between py-3 border-b border-ui-grey-light">
  <a href="/" class="font-semibold flex items-center gap-2">
    <img class="h-8" src="icons/favicon.svg" alt="FAV" />
    <span class="text-base">TipMinder</span>
  </a>
  <nav class="font-medium flex items-center justify-center gap-8">
    <a href="#">About</a>
    <a href="#">General condition</a>
    <a href="#">Price list</a>
    <a href="#">FAQ</a>
    <a href="#">Contacts</a>
  </nav>
  <div
    class="relative font-semibold flex items-center bg-brand-gradient rounded-[10px] overflow-hidden"
  >
    <button class="px-4 py-3 pe-3">
      <img src="icons/user.svg" alt="Profile" />
    </button>
    <div class="w-px h-12 bg-white"></div>
    <button class="px-4 py-3 ps-3 text-white">Log Out</button>
  </div>
</header>
